.vcenter{
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.divNotes{
    background: #B0E0E6,
    border-color: #4682B4,
    border-style: solid,
    border-radius: 8px,
    padding: 5px
    }

body{
    background-image: url(resources/images/Paris.jpg),
    background-repeat: no-repeat,
    background-size: cover
}
