.vcenter{
    display: inline-block;
    float: none;
    vertical-align: middle;
}
/* .divNotes{
    background: #B0E0E6;
    border-color: #4682B4;
    border-style: solid;
    border-radius: 8px;
    padding: 5px
    } */

body{
    background-image: #FFF5EE;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Когда ширина окна до 860 пикселей, ширина  div-2 будет 860px */
/* @media screen and (max-width: 860px){
    #map_canvas{
      width: 100px;
      height: 100px;
      background-color: grey
    } 
} */
/* Когда ширина окна от 861 пикселей, ширина  div-2 будет 861px */

#map_canvas{
    width: 80%;
    height: 150px;
    background-color: white;
    /* align-content: center; */
    margin-left: 10%;
}

#signout{
    width: 20px;
    height: 20px;
}
