<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Authentification.SignInServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>NotesServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Notes.NotesServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LoadServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Notes.LoadServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EditText</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Notes.EditText</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ReplacedText</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Notes.ReplacedText</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegisteredServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Authentification.RegisteredServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Authentification.HomePageServlet</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>OneNoteServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Notes.OneNoteServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LoadRoutesServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Routes.LoadRoutesServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CreateNewRouteServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Routes.CreateNewRouteServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AllRoutesServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Routes.AllRoutesServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>OpenOneNoteServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Notes.OpenOneNoteServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CreateNewNoteServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Notes.CreateNewNoteServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.Notes.DeleteNoteServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <servlet-class>org.mycompany.myname.controller.UploadPhotoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>NotesServlet</servlet-name>
    <url-pattern>/noteServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoadServlet</servlet-name>
    <url-pattern>/servletInNotes</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EditText</servlet-name>
    <url-pattern>/editTextServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ReplacedText</servlet-name>
    <url-pattern>/replacedText</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegisteredServlet</servlet-name>
    <url-pattern>/registeredServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/homePageServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>OneNoteServlet</servlet-name>
    <url-pattern>/showOneNoteServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoadRoutesServlet</servlet-name>
    <url-pattern>/loadRoutesServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CreateNewRouteServlet</servlet-name>
    <url-pattern>/newRouteServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AllRoutesServlet</servlet-name>
    <url-pattern>/allRoutesServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>OpenOneNoteServlet</servlet-name>
    <url-pattern>/openOneNoteServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CreateNewNoteServlet</servlet-name>
    <url-pattern>/newNoteServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <url-pattern>/deleteNoteServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <url-pattern>/uploadPhotoServlet</url-pattern>
  </servlet-mapping>


</web-app>